* {
  
}
.container {
  width: 50%;
  z-index: 100;
}
.logo {
  border: 0;
}

#logo {
  margin: 0;
}

.btn-large {
  padding-top: 10px;
  border: 1px solid black;
  background: white;
}

body {
  font-family: 'Homemade Apple' !important;
  padding: 15px;
  background: url("/images/weather.png");
  background-repeat: repeat;
  z-index: 100;
}
.container {
  margin: auto;
}

h2, img, input, button, .card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.card {
  margin-top: 50px; 
  border: black solid 1px;
  background: url("/images/weather.png");
}

h2{
  text-align: center;
}

h6 {
  margin: 2px;
  text-align: justify;
}

.card-text {
  text-align: center;
  word-spacing: 1px;
}

.text-right {
  text-align: center;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.temp-button {
  background: white;
}
